<div class="container-fluid">
  <div class="row">
    <div class="card col-md-3 ml-1 pl-0 pr-0">
      <div class="card-header">
        Une boîte
      </div>
      <div class="card-body">
        <h5 class="card-title">Un descriptif de boîte</h5>
        <p class="card-text">Cette boîte est fantastique.</p>
      </div>
    </div>
    <div class="card col-md-3 ml-1 pl-0 pr-0">
      <div class="card-header">
        Une autre boîte
      </div>
      <div class="card-body">
        <h5 class="card-title">Un autre descriptif</h5>
        <p class="card-text">Celle-ci l'est tout autant.</p>
        <a href="#" class="btn btn-primary">Tiens, un bouton !</a>
      </div>
    </div>
  </div>
</div>
